<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Rchemist</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://rchemist.github.io" target="_blank">Home Page</a>
            <a class="navbar-item" href="/rchemist-wiki/1.0.0/welcome.html">Wiki</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Project</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/lf-commerce-domain-model/1.0.0/welcome.html">LF</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
